{% extends "admin_1/base.html" %}

{% block content %}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Players</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h2 class="lead"><u>Add Player</u> ({{team.name}})</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="playerName">Player Name</label>
                        <input type="text" name="playerName" id="playerName" class="form-control"
                               placeholder="Type Player Name">
                    </div>
                    <div class="form-group">
                        <label for="playerPhoto">Player Photo</label>
                        <input type="file" name="playerPhoto" id="playerPhoto" class="form-control-file">
                    </div>
                    <div class="form-group">
                        <label>Player Type</label>
                        <br>
                        <input type="radio" name="capped" id="cappedPlayer"><label for="cappedPlayer">
                        Capped</label>
                        <input type="radio" name="uncapped" id="unCappedPlayer"><label for="unCappedPlayer">
                        Uncapped</label>
                    </div>
                    <div class="form-group">
                        <label for="playerSpecialisation">Player Specialisation</label>
                        <select name="playerSpecialisation" id="playerSpecialisation" class="form-control">
                            <option>BATSMEN</option>
                            <option>BOWLERS</option>
                            <option>WICKET_KEEPERS</option>
                            <option>ALL_ROUNDERS</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Players</h3>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Specialisation</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in players %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.full_name }}</td>
                        <td>{% if item.is_capped%} Capped {% else %} Un Capped {% endif %}</td>
                        <td>{{ item.category }}</td>
                        <td>
                            <a class="btn btn-primary" data-toggle="modal" data-target="#editPlayer"><i
                                    class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block modal %}
<!-- Edit Team Modal-->
<div class="modal fade" id="editPlayer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Edit Player</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editplayerName">Player Name</label>
                        <input type="text" name="" id="editplayerName" placeholder="Player Name" class="form-control">
                        <label for="editplayerPhoto">Player Photo</label>
                        <input type="file" name="" id="editplayerPhoto" class="form-control-file">
                        <label>Player Type</label>
                        <br>
                        <input type="radio" name="editPlayerType" id="editCappedPlayer"><label for="editCappedPlayer">
                        Capped</label>
                        <input type="radio" name="editPlayerType" id="editUnCappedPlayer"><label
                            for="editUnCappedPlayer"> Uncapped</label>
                        <br>
                        <label for="editPlayerSpecialisation">Player Specialisation</label>
                        <select name="" id="editPlayerSpecialisation" class="form-control">
                            <option selected disabled>- Select Specialisation</option>
                            <option>Specialisation 1</option>
                            <option>Specialisation 2</option>
                            <option>Specialisation 3</option>
                        </select>
                        <label for="teamDescription">Player Bio</label>
                        <textarea name="" id="teamDescription" class="form-control"
                                  placeholder="Type Player Bio"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Save" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

